#createButton {
  width: 100%;

  margin-top: 25px;
  padding: 13px;

  border: none;
  border-radius: 8px;

  background-color: #2563eb;
  color: white;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#createButton:hover {
  background-color: #28145a;

  transform: translateY(-2px);

  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.25);
}

#createButton:active {
  transform: translateY(0);
}
