.form {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color:  rgba(229, 233, 233, 0.734);
  font-family: Arial, Helvetica, sans-serif;

  padding: 20px;
}

.form h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  align-self: left;
}

.form h3 img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.form form {
  width: 100%;
  max-width: 400px;

  background-color: white;

  padding: 20px;
  border-radius: 5px;
}

.formFill {
  display: flex;
  flex-direction: column;
}

.formFill label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.formFill input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  border-radius: 4px;

  box-sizing: border-box;
}

.formFill input:focus {
  border: 1px solid #2563eb;
  outline: none;
}

.form .loginButton {
  width: 140px;
}
