.home {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  text-align: center;

  padding: 20px;
  background-color: white;
}

.home h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.home h3 {
  font-size: 18px;
  font-weight: normal;
  color: #666;
  margin-bottom: 30px;
}

.home a {
  margin: 8px;
  background-color: lightgray;
  align-items: center;
  padding: 10px 5px;
}

#chat {
  text-decoration: bold;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#chat p {
  margin: 0;
  font-size: 16px;
  color: black;
  font-weight: normal;
  text-decoration: none;
}

#chat p:hover {
  text-decoration: none;
}

#chat:hover #chattext {
  text-decoration: underline;
}

#chat-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
